{
    "comments": false,
    "compact": false,
    "presets": [
        [
            "env",
            {
                "modules": false,
                "targets": {
                    "ie": 9
                }
            }
        ]
    ]
}
