/.idea
/packages/pegjs/dist
/packages/pegjs/.npmrc
/docs/.vuepress/dist
/dist
/examples/*.js
node_modules
/coverage
/.nyc_output
/website/js/*-bundle.js
/*.log
/sh.exe.stackdump
/test/junit-results.xml
