<div id="mocha"></div>

<link href="/css/spec.css" rel="stylesheet" />
<script src="https://unpkg.com/mocha@5.2.0/mocha.js"></script>

<script>
    mocha.setup( { ui: "bdd" } );

    if ( window.MSInputMethodContext && document.documentMode )

        document.getElementById( "mocha" ).innerHTML = "Sorry, IE11 is not supported by the Spec Runner's dependencies.";

    else

        document.write( "<script src='/js/spec-bundle.js' onload='mocha.run()'><\/script>" );
</script>
